<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /frontend/

  # If file or folder exists, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise always go to index.html (SPA routes)
  RewriteRule ^ index.html [L]
</IfModule>